body {
    font-family:"Suranna"; 
    color: #3d3d3d;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh;
    text-align: center; 
    background-color: #e8e8e8;
}



header h1{
    padding: 30px;
    text-align: center; 
    font-size: 6.5rem;
    font-weight: 400;
    padding-bottom: 0;
    margin-top: 3rem;
}
 header h2{
    margin-top: -80px;
    padding-top: 0;
    font-weight: 400;
    font-size: 3.5rem;
    
 }
 header button{
    font-family: 'Josefin Sans';
    padding: 0 50px;
    margin: 0 20px;
    height: 40px;
    border-style: solid;
    border-radius: 20px;
    border-color: #9dbbbb;
    color: #9dbbbb;
    background-color: #3d3d3d;
    font-weight: 400;
    font-size: medium;
 }

section {
    padding: 30px;
    text-align: center; 
    border-radius: 10px;
    margin: auto;
}

#about h2{
    padding-bottom: 3rem;
    font-size: 3.5rem;
    font-weight: 400;
    padding-top: 20rem;
}

#about p{
    font-family: 'Josefin Sans';
    font-size: larger;
    margin: 0 2rem;
    padding: 1rem 1rem;
    
}

#skills h2, #projects h2{
    padding-top: 15rem;
    font-weight: 400;
    font-size: 3.5rem;
}
#projects{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-content: center;
    flex-wrap: wrap;
    
}

.project_container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#projects i{
    font-size: 3rem;
}

#projects p{
    font-size: 2rem;
    padding: 0 1.5rem;
}

#skills i{
    font-size: 3.5rem;
    padding: 1rem;
}