
body {
    font-family:"Suranna"; 
    color: #3d3d3d;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh;
    text-align: center; 
    background-color: #e8e8e8;
}



header h1{
    padding: 30px;
    text-align: center; 
    font-size: 6.5rem;
    font-weight: 400;
    padding-bottom: 0;
    margin-top: 3rem;
}
 header h2{
    margin-top: -80px;
    padding-top: 0;
    font-weight: 400;
    font-size: 3.5rem;
    
 }
 header button, #contact button{
    font-family: 'Josefin Sans';
    border-style: solid;
    border-radius: 20px;
    border-color: #e8e8e8;
    color: #9dbbbb;
    background-color: #3d3d3d;
    font-weight: 400;
    font-size: medium;
    height: 40px;
    width: 10rem;
    cursor: pointer;
    transition: all .5s ease;
 }

 header button:hover{
    color: #3d3d3d;
    background-color: #e8e8e8;
    border-color: #3d3d3d;
 }

 header button{
    padding: 0 50px;
    margin: 0 20px;
 }


 header{
    margin-bottom: 18rem;
 }

section {
    padding: 30px;
    text-align: center; 
    border-radius: 10px;
    margin: auto;
}

#about h2{
    font-size: 3.5rem;
    font-weight: 400;
}

#about p{
    font-family: 'Josefin Sans';
    font-size: larger;
    margin: 0 2rem;
    padding: 1rem 1rem;
    
}

#skills h2, #projects h2, #contact_heading{
    font-weight: 400;
    font-size: 3.5rem;
}

#skills, #projects, #about{
    margin-bottom: 10rem;
}


#projects{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.project_container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#projects i{
    font-size: 3rem;
}

#projects p{
    font-size: 2rem;
    padding: 0 1.5rem;
}

#skills i{
    font-size: 3.5rem;
    padding: 1rem;
}


#contact{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

#message p{
    font-size: 1.5rem;
    margin-bottom: -.5rem;
}

form, #message p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 0;
}

#contact input, #contact textarea{
    border-style: none;
    width: 30rem;
    padding: 0;
    margin: 5px 0;
}
#contact input{
    height: 30px;
}

#contact button{
    margin-top: 10px;
}
input:focus-within{
 outline: none;
}
textarea:focus-within{
    outline: none;
}

#contact input::placeholder, #contact textarea::placeholder{
   font-family: 'Josefin Sans';
   font-size: 1rem;
}

#contact input[type='text'], #contact input[type='email'],#contact textarea[type='text']{
    font-family: 'Josefin Sans';
    padding-left: 5px;
    padding-top: 5px;
    font-size: 1rem;
    color: #3d3d3d;
}

#contact h2{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 7rem;
}


#message{
    width: 50%;
}

#links{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
}

#email a,#phone a,#linkedin a,#github a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 2.5rem;
    color: #3d3d3d;
    
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

#email p,#phone p{
    margin: 0 10px;
}

.reveal{
    position: relative;
    opacity: 0;
    transition: 1.5s all ease;
}
.reveal.active{
    transform: translateY(-30px);
    opacity: 1;
}
  .reveal.active2{
    opacity: 1;
}